<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CS420</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="sidenav">
        <a href="#" onclick="switchContent('cctv')">Monitoring CCTV</a>
        <a href="#" onclick="switchContent('classification')">Video Classification</a>
    </div>

    <div class="content" id="cctv" style="display:block;">
        <div class="form-container">
            <form>
                <input type="text" id="textbox" name="cctv_url" placeholder="CCTV URL here...">
                <button type="button" onclick="connectToCCTV()">Connect</button>
            </form>
        </div>

        <div class="cctv-container">
            <div class="cctv">
                <img id="cctv-stream" src="" alt="CCTV Stream" style="width:720px; height:520px;">
            </div>
            <div class="detection-info">
                <h3>Details</h3>
                <p>Processing CCTV feed...</p>
            </div>
        </div>
    </div>

    <div class="content" id="classification" style="display:none;">
        <div class="form-container">
            <form id="upload-form">
                <input type="file" id="video-file" name="video" accept="video/*">
                <button type="button" onclick="uploadVideo()">Upload</button>
            </form>
        </div>
        <div id="upload-status" style="margin: auto; width: 50%; padding:"></div>
        <div id="uploaded-video-container" style="display:none;">
            <video id="uploaded-video" controls width="720" height="480">
                <source id="uploaded-video-source" src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>